<div class="card mt-5 mx-5">
  <form class="d-flex flex-column align-items-center">
    <!-- Name  -->
    <h2 class="text-center">Give it a Name</h2>
    <div class="input-group recipe-name-input-group mt-2">
      <input type="text" class="form-control text-center">
    </div>

    <!-- Ingredients  -->
    <div class="input-group recipe-ingredients-input-group mt-5 mb-3">
      <input type="text" class="form-control" placeholder="Ingredient Name">
      <input type="text" class="form-control" placeholder="Qty.">
      <button class="btn btn-outline-success" type="button"><i class="bi-plus"></i></button>
    </div>

    <!-- List ingredients  -->
    <div class="input-group recipe-ingredients-list">
      <input type="text" class="form-control" placeholder="Ingredient Name" disabled>
      <input type="text" class="form-control" placeholder="Qty." disabled>
      <button class="btn btn-outline-danger" type="button"><i class="bi-trash"></i></button>
    </div>
    <div class="input-group recipe-ingredients-list">
      <input type="text" class="form-control" placeholder="Ingredient Name" disabled>
      <input type="text" class="form-control" placeholder="Qty." disabled>
      <button class="btn btn-outline-danger" type="button"><i class="bi-trash"></i></button>
    </div>

    <!-- Instructions  -->
    <div class="form-floating recipe-instructions my-5">
      <textarea class="form-control " placeholder="Add instructions here" id="recipe-instructions"></textarea>
      <label for="recipe-instructions">Add instructions here</label>
    </div>
    
  </form>

</div>
