.recipe-name-input-group {
  width: 60%;
}

.recipe-ingredients-input-group, .recipe-ingredients-list {
  width: 40%;
}

.recipe-instructions {
  width: 60%;
  
  textarea {
    height: 100px;
  }  
}