.list-recipes {
    li {
        list-style-type: none;
    }

    .card-body {
        overflow: hidden;

        .img-container {

            .thumbnail {
                width: 100%;
                max-width: 500px;
                min-width: 275px;
            }
        }

        .mid-container {
            .ingredients-container {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
            }
        }

    }
}